<h1>THIS IS WHO WE ARE & WHAT WE DO!</h1>
  <p>  Anudip Foundation helps transform lives by providing aspirational livelihoods through digital inclusion in emerging economies. We are a nonprofit company with operations in India and USA. Anudip Foundation empowers & motivates young job aspirants from difficult backgrounds since 2007. This is what we do & we even help the youth with digital skills through our skill development program.<br> For more information visit our Youtube channel!  
</p>
<h2>WHY ANUDIP ?</h2>
<p>
    Our impact is our only differentiation.
    
    “Life. Transformed.” – the key essence of our brand is present in all our initiatives, offerings, communications, and experiences and drives us to humanize this unique message to benefit all our stakeholders. Anudip Foundation is an emblem of connection between the underprivileged and livelihood; a strategic resource for employers and a trustworthy enabler of economic growth.
    
    We offer aspirational livelihoods to socially marginalized people by skilling them at our 90+ skill and career development centres. As one of the partners running the NSDC approved courses, Anudip Foundation has been successful in empowering the youth and women.</p>