
<h1>CONTACT</h1>
<section style="background: #e9d5ff;
                padding: 20px;
                width: 500px;
                line-height: 1.7em;">
 
  <h2>  INDIA</h2>
    <p>
    ANUDIP FOUNDATION
    
    Mira Towers, 8th & 9th Floor, Block DN, Plot 27, Sector-V, Salt Lake City, P.S Bidhannagar, Kolkata-700091, West Bengal
    
    033 4062 4187 / 033 4060 8484
     8145111444
    info@anudip.org</p>
</section>
<br>
    <section style="background: #e9d5ff;
    padding: 20px;
    width: 500px;
    line-height: 1.7em;" >
  <h3> UNITED STATES</h3> 
   <p> ANUDIP FOUNDATION
    
    14435C Big Basin Way #256
    
    Saratoga, CA 95070, USA
    
    +1 408 867 2320
    
    info@anudip.org
</p>
</section>
<br>
<section style="background: #e9d5ff;
    padding: 20px;
    width: 500px;
    line-height: 1.7em;">
   <h4> GET IN TOUCH</h4>
    
  <p> CORPORATE RELATIONS
    For any corporate queries or partnerships, write us at : corporaterelations@anudip.org
    
    
    HUMAN RESOURCES
    For any HR related queries or information, write us at : talent@anudip.org
    
    
    MEDIA/PR
    For media coverages and PR write us at : publicrelations@anudip.org
    
</p> 
</section>

